
html {height: 100%; position: relative; }

body {margin: 0 !important; text-decoration: none;  height: 100%; display: flex; flex-wrap: wrap; }
/* .main {display: flex; flex-wrap: wrap;} */

* {box-sizing:border-box;  margin: 0; text-decoration: none; list-style: none; }
body{ height: 100%; display: flex; background-image: url(background/paiclas.jpg); background-size:cover; background-repeat:no-repeat; backdrop-filter: opacity(100%);/* flex-direction: column; */ background-position: center center; background-attachment: fixed; }




#header {width: 100vw; height: auto; display: flex; flex-wrap:wrap; justify-content: space-between; background-color: black; align-content: center; }

.align-nav {display: flex; align-content: center; flex-wrap: wrap;}
span li {font-size:2vh; font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: 700;  color: blanchedalmond; float: left; text-align: center; padding-top: 5%;}

 nav {width: 100%; }

 span {width: 100%;}

li { text-align: center;height:10vh; margin-top: 2.5%;  width: inherit;}

header li {float: left;}

.main {height: 100%; position: relative;}

.container {width: 100%; height: auto; margin-top: 5%; }

.fila {width: calc(100%/4);}

h1,h2 {text-align: center; font-size: calc(1.5em + 1vh); }

h2 {font-size: calc(inherit - 1em); font-style:oblique;}

h2 {margin-top:2% ;}

img { height: 30vh; width: 25vw; float: left; margin-left: 10%; margin-right:5% ; border: 5px solid white; filter: sepia(50%);}

.container p {font-family: Verdana, Geneva, Tahoma, sans-serif; font-size:calc(0.5rem + 0.3vh + 0.3vw); text-align: justify; margin: 2% 10% 5% 10%; line-height: 2em; text-indent: 3em; font-weight: 900;}

#footer { display:flex; flex-wrap: wrap; justify-content: center; width: 100%; background-color: black; height: 20vh; position: relative; bottom: 0; margin-left: 0; align-content: center; }

#footer p {color: white; text-align: center; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 2vh; font-weight: 700; }

@media all and (max-width:1000px) and (min-width:500px)  
{ img {height: 20vh; margin-left: 20%; margin-bottom: 5%} ;}



@media all and (max-width:500px) {.container p{margin-bottom: 10%;} img{height: 30vh; width: 80vw; margin: 10% 0 10% 10%;} .fila{width: 100%; text-align: center;} span {width: inherit; }}
